*.csv
*.pqb
*.ttd
*.o
*.exe

pq-ttd
ttd-shift
ttd-doqkd
ttd-dump
ttd-g2
ttd-g3
ttd-g4
ttd-merge

autom4te.cache
autom4te.cache/*
Makefile
config.h
config.log
config.status

.deps
.deps/*

.idea

build
tests
